@import url("https://fonts.googleapis.com/css2?family=Anek+Odia:wght@200;300&family=Nanum+Gothic&display=swap");

.discover {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    
}

.text{
    font-size: 20px;
    margin-top: 5px;
    font-family: "Anek Odia", sans-serif;
}

@media only screen and (max-width: 1024px) {
   .text {font-size: 1.6rem;}
}